<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>

<!--
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Signin Template for Bootstrap</title>

  &lt;!&ndash; Bootstrap core CSS &ndash;&gt;

  &lt;!&ndash; Custom styles for this template &ndash;&gt;
</head>
<body class="text-center">
<form class="form-signin">
  <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>


  &lt;!&ndash;<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
  (input)="onConfirmingEmail($event)" >&ndash;&gt;

  <input type="email" id="inputConfEmail" class="form-control" placeholder="Confirm Email address" required="" autofocus=""
         [(ngModel)]="serverName">

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onsubmitClick()" >Sign in</button>
  <p class="mt-5 mb-3 text-muted">© 2017-2018</p>

  <p *ngFor="let server of servers" [ngStyle]="{backgroundColor: getColor()}">Server is {{serverName}}</p>

  &lt;!&ndash;ngif &ndash;&gt;

  &lt;!&ndash;
    <p *ngIf="allowLogin" [ngStyle]="{backgroundColor: getColor()}">Server is {{serverName}}</p>
  &ndash;&gt;


</form>


<h1> Person with id: has certain status {{getStatus()}}.</h1>
<p [innerText] ="message" ></p>


</body>

</html>

-->
